<tr>
  <td><%= child.full_name %></td>
  <td><%= child.date_joined %></td>
  <td><%= child.date_left %></td>
  <td><%= child.gender %></td>
  <td><%= child.emergency_alternative_contact %></td>
  <td><%= child_actions(@member, child) %></td>
</tr>
