<tr>
  <td><%= member.family_id %></td>
  <td><%= member.attending_parent %></td>
  <td><%= member.date_joined %></td>
  <td><%= member.date_left %></td>
  <td><%= member.parents %></td>
  <td><%= member.parents_email %></td>
  <td><%= member.alternate_contact %></td>
  <td><%= member.mobile %></td>
  <td><%= member.duty_day %></td>
  <td><%= member_actions(member) %></td>
</tr>
